/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.clockHand {
  position: relative;
  width: 175px;
  background: black;
  border: 2pt solid black;
  top: 168px;
  left: 167px;
}
hr {
  width: 164px;
  position: relative;
  transform-origin: top left;
  border: 2pt solid black;
  background: black;
  top: 145px;
  left: 86px;
}
body {
  background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  width: 400px;
  height: 400px;
  border: 20pt solid white;
  border-radius: 50%;
  z-index: 0;
}
.clock .hour {
  z-index: 1;
}
.clock .hour .hourHand {
  top: 158px;
}
.clock .minute {
  z-index: 2;
}
.clock .second {
  z-index: 3;
}
.secondHand {
  top: 132px;
}
