.center() {
    display: flex;
    justify-content: center;
    align-items: center;
};
.clockHand {
    position: relative;
    width: 175px;
    background: black;
    border: 2pt solid black;
    top: 168px;
    left: 167px;
};
